body{
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    width: 600px;
}
.Day4{
    text-decoration: line-through;
}
.map{
    border: 5px solid #000000;
    color: #dbdbdb;
    background-color: #ff0000;
    width: 100px;
    text-align: center;
}
.page a{
    border: #000000 solid 2px;
    background-color: #cecece;
    width: 100px;
    margin-right: 25px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #af0000;
}
.start{
    color: #d68d4d;
    letter-spacing: 7px;
}
.name{
    color: #af0000;
}
.событие{
    text-decoration: underline;
}
.day6{
    color: #00c3ff;
}
.img{
    border: solid 2px #be0000;
}